{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block navbar %}
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}

<div class="container py-5 h-100">

  <h3>Ação não permitida</h3>
  
  <p class="lead">
    Houve algum problema para processar a ação desejada ou você não tem permissão para isso.
  </p>

  <a href="{% url 'inicio' %}"><button class="btn btn-success mt-3"> voltar </button></a>

</div>

{% else %}

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card" style="border-radius: 1rem;">
        <div class="card-body p-4 p-lg-5 text-black">
          <form action="" method="POST">

            <a href="{% url 'inicio' %}">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>

            <div class="d-flex align-items-center mb-3 pb-1">

              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
            </div>

            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Fazer login</h5>

            {% csrf_token %}

            {{ form|crispy }}

            <span><a class="small text-muted" href="#!">Esqueci minha senha</a></span>

            <div class="pt-1 mb-4">
              <button class="btn btn-dark btn-lg btn-block" type="submit">Entrar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}